div.Login {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 250px;
    border: green;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}
div.Up {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 290px;
    height: 100px; 
    border: red;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}
div.Center {
    position: absolute;
    left: 10px;
    top: 140px;
    right: 290px;
    height: 520px;
    margin-bottom: auto;
    margin-top: auto;
    border: blue;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}

div.Question {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    border: green;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}

div.Answers {
    position: absolute;
    top: 140px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: red;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}

div.Side {
    position: absolute;
    top: 140px;
    right: 10px;
    width: 250px;
    border: black;
    height: 520px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}

div.Down {
    position: absolute;
    top: 690px;
    left: 10px;
    right: 10px;
    height: 100px;
    border: yellow;
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px 10px 10px;
}

input.AnswerButton {
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    border: #1f628d;
    border-style: solid;
    border-width: 2px;
    width: 100%;
}
input.Textbox {
    border-radius: 10px;
    border: #1f628d;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
}